{% extends 'base.html.twig' %}

{% block content %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Auteur</th>
        </tr>
        </thead>
        </tfoot>
        <tbody>

        {% for book in books %}
            <tr>
                <td>{{ book.getId }}</td>
                <td>{{ book.getTitle }}</td>
                <td>{{ book.getAuthor }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}